@import "tailwindcss";
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/Coolvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BirdsOfParadise";
  src: url("/fonts/BirdsofParadise.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaCustom";
  src: url("/fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
}

:root {
  font-family: "Coolvetica", sans-serif;
  color-scheme: light;
  --primary: hsl(0, 100%, 32%);
}


/* REGISTER & LOGIN */

.register-card {
  @apply flex justify-center items-center min-h-screen bg-cover bg-center bg-no-repeat px-6;
}

.register-card::before {
  content: "";
  @apply absolute inset-0 bg-cover bg-center blur-lg;
  background-image: url('./assets/bg.jpg');
  background-attachment: fixed;
  z-index: -1;
}

.register-card form {
  @apply bg-white shadow-2xl rounded-2xl p-10 w-full max-w-2xl;
}

.register-card h1 {
  @apply text-5xl text-[#A20100] mb-10 text-center;
  font-family: "BirdsOfParadise";
}

.register-card label {
  @apply block mb-2;
}

.register-card input,
.register-card select {
  @apply w-full border rounded-lg px-3 py-2 mb-6 font-light
}

.register-card textarea {
  @apply w-full border rounded-lg px-3 py-2 mb-4;
}

.register-btn {
  @apply w-full bg-[#A20100] text-white py-3 rounded-full hover:bg-[#8b0100] transition;
}

.reg-password {
  @apply absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-[#A20100];
}

.register-card span {
  @apply text-[#A20100] cursor-pointer hover:underline;
}

.create-acc {
  @apply text-center text-sm mt-4;
}

.terms-checkbox {
  @apply flex items-center text-center space-x-2
}

.terms-checkbox input {
  @apply w-4 h-4;
}

.terms-checkbox span {
  @apply text-sm text-[#241C1C]
}

.terms-checkbox a {
  @apply text-blue-600 underline
}

.login-card {
  @apply relative flex justify-center items-center min-h-screen bg-cover bg-center bg-no-repeat px-6 overflow-hidden;
}

.login-card::before {
  content: "";
  @apply absolute inset-0 bg-cover bg-center blur-lg;
  background-image: url('./assets/bg.jpg');
  background-attachment: fixed;
  transform: scale(1.1);
  z-index: -1;
}

.login-card form {
  @apply bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md;
}

.login-card h1 {
  @apply text-5xl text-[#A20100] mb-10 text-center;
  font-family: "BirdsOfParadise";
}

.login-card label {
  @apply block mb-2;
}

.login-card input {
  @apply w-full border rounded-lg px-3 py-2 mb-6 font-light;
}

.login-btn {
  @apply w-full bg-[#A20100] text-white py-3 rounded-full hover:bg-[#8b0100] transition;
}

.login-card span {
  @apply text-[#A20100] cursor-pointer hover:underline;
}

.login-card p {
  @apply text-center text-sm mt-4;
}

.error-text {
  @apply text-red-600 mt-0 mb-4 text-center text-sm;
}


/* NAVIGATION BAR */

.nav-bar {
  @apply sticky top-0 z-50 py-3 backdrop-blur-lg
}

.nav-container {
  @apply container px-4 mx-auto relative text-sm
}

.nav-logo {
  @apply flex items-center flex-shrink-0
}

.nav-list {
  @apply hidden lg:flex ml-14 space-x-12 list-none text-[#FFB7B7]
}

.nav-cart {
  @apply hidden lg:flex justify-center space-x-12 items-center
}

.drawer-bg {
  @apply fixed right-0 top-20 h-full z-50 
  bg-white
  w-full pb-10 flex flex-col justify-center items-center lg:hidden;
}

.cart {
  @apply py-2 px-30 border-[#241C1C]
}

@media (max-width: 1023px) {
  .nav-bar {
    background-color: white;
  }
}


/* HERO SECTION */

.hero-section {
  @apply relative bg-[linear-gradient(to_bottom,_#FFFFFF_0%,_#FFFFFF_98%,_#A20100_100%)] overflow-hidden;
}

.hero-content {
  @apply flex flex-col lg:flex-row items-center justify-between px-10 lg:px-40 pb-40 relative z-20;
}

.hero-text {
  @apply lg:w-1/2 flex flex-col items-start text-[#241C1C]
}

.hero-text h1 {
  @apply text-8xl sm:text-7xl lg:text-8xl text-[#A20100] pb-5;
  font-family: "BirdsOfParadise";
}

.hero-text h2 {
  @apply text-xl sm:text-2xl lg:text-2xl xl:text-4xl font-bold text-[#A20100] mt-2;
}

.hero-text p {
  @apply mt-6 sm:mt-8 text-sm sm:text-lg lg:text-[18px] xl:text-xl max-w-xl;
}

.hero-btn {
  @apply mt-8 bg-[#A20100] text-white italic px-8 py-3 rounded-full shadow-[0px_4px_0px_rgba(0,0,0,0.3)] hover:bg-pink-400 transition;
}

.hero-right {
  @apply lg:w-1/2 flex justify-center mt-10 lg:mt-0 relative
}

.hero-right img {
  @apply w-full max-w-md lg:max-w-xl object-contain z-10
}

.hero-drip {
  @apply absolute bottom-0 left-0 w-full h-auto z-0;
}


/* ABOUT SECTION */

.about-section {
  @apply relative min-h-[700px] sm:min-h-[700px] lg:min-h-[900px] 
  bg-[#A20100]
  lg:bg-[radial-gradient(circle_at_center,_#FFB7B7_0%,_#A20100_40%,_#A20100_100%)]
  text-white flex justify-center items-center flex-col;
}

.about-tag {
  @apply text-3xl sm:text-5xl lg:text-6xl mt-10 sm:mt-16 lg:mt-20 lg:mb-10 
  text-center;
  font-family: "BirdsOfParadise";
}

.about-container {
  @apply relative flex flex-col lg:flex-row justify-center items-center px-6 lg:px-16 pt-25 gap-10;
}

.visual {
  @apply max-h-[400px] sm:max-h-[500px] lg:max-h-[800px] z-10 flex items-center justify-center mt-10 lg:mt-0;
}

.about-container p {
  @apply text-base sm:text-lg lg:text-xl leading-snug sm:leading-tight max-w-[500px] text-center lg:text-left;
}

.about-container span {
  @apply text-5xl sm:text-6xl lg:text-7xl;
}

.features-card {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 sm:gap-8 px-6 sm:px-10 mt-12 lg:mt-1 md:mt-6;
}

.features {
  @apply flex flex-col items-center;
}

.features p {
  @apply text-[12px] sm:text-[12px] lg:text-[16px] text-white max-w-[180px] sm:max-w-[200px] mt-3 text-center;
  font-family: Helvetica, sans-serif;
}

.comment-card-left,
.comment-card-right {
  @apply hidden lg:block absolute;
}

.comment-card-left {
  @apply left-10 xl:left-10 top-2/12 text-start
}

.comment-card-right {
  @apply right-10 xl:right-10 top-1/16;
}

.comment-card {
  @apply max-w-xs bg-white text-[#241C1C] p-4 sm:p-6 rounded-xl shadow-md text-end;
}

.stars img {
  @apply mt-4 sm:mt-5;
}

/* MAIN SECTION */

.discover-section { 
  @apply min-h-auto pb-10 bg-white relative overflow-hidden 
}

.discover-section img { 
  @apply w-full object-cover 
}

.discover-container { 
  @apply max-w-full mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8 py-12 px-15 items-center 
}

.flavor-list { 
  @apply flex flex-col gap-4 text-2xl items-center 
}

.flavor-list h2 { 
  @apply text-[#A20100] text-7xl mb-4; 
  font-family: BirdsofParadise, serif; 
}

.flavor-list button { 
  @apply text-start text-xl md:text-2xl
}

.flavor { 
  @apply flex justify-center relative 
}

.add-btn { 
  @apply absolute -bottom-8 bg-white rounded-full shadow-md w-12 h-12 flex items-center justify-center z-20 cursor-pointer 
}

.details-container { 
  @apply flex flex-col gap-1 items-center 
}

.details-container h2 { 
  @apply text-[#A20100] text-7xl; 
  font-family: BirdsofParadise, serif; 
}

.details-container p { 
  @apply text-[#241C1C] leading-tight text-[18px] md:text-2xl lg:text-xl xl:text-2xl text-end my-10 ml-10 
}

.tag-card { 
  @apply relative w-48 
}

.tag-content { 
  @apply absolute inset-0 flex flex-row gap-10 text-center text-xl md:text-2xl lg:text-sm lg:gap-0 lg:flex-col items-center justify-center px-4 
}

.tag-content span { 
  @apply text-[#A20100] 
}

@media (max-width: 1023px) {
  .details-container h2 {
    display: none;
  }
  .details-container p {
    text-align: center;
    margin-left: 0;
  }
  .tag-card img{
    display: none;
  }
}


/* ORIGIN SECTION */

.origin-section {
  @apply relative overflow-hidden 
  bg-[#FFFFFF] 
  lg:bg-[linear-gradient(to_bottom,_#FFFFFF_0%,_#FFFFFF_90%,_#A20100_100%)];
}

.origin-section img {
  @apply w-full object-cover -bottom-40
}

.origin-container {
  @apply max-w-7xl mx-auto 
  grid grid-cols-1 lg:grid-cols-2 gap-8 
  py-5 sm:py-12 lg:py-16 
  px-6 sm:px-10 lg:pr-16 lg:pl-20 lg:pb-0 xl:px-24 
  items-center;
}

.origin-info {
  @apply flex flex-col gap-3 sm:gap-4 text-base sm:text-lg md:text-2xl lg:text-2xl text-center lg:text-left;
}

.origin-info h2 {
  @apply text-[#A20100] text-6xl sm:text-5xl md:text-7xl xl:text-7xl mb-4;
  font-family: BirdsofParadise, serif;
}

.milk {
  @apply flex justify-center relative mt-8 lg:mt-0;
}

.milk-photo {
  @apply absolute -bottom-6 sm:-bottom-8 bg-white shadow-md 
  w-4/5 sm:w-3/5 md:w-1/2 lg:w-3/4 xl:w-[70%] 
  h-auto flex items-center justify-center z-10;
}

@media (min-width: 1024px) {
  .milk-photo {
    margin-top: -15%;
  }
}

@media (max-width: 1024px) {
  .milk {
    display: none;
  }
  .origin-info {
    text-align: center;
  }
}


/* FAQ SECTION */

.faq-section {
  @apply min-h-1/2 bg-[linear-gradient(to_bottom,_#A20100_0%,_#A20100_20%,_#FFB7B7_100%)] text-white flex flex-col
}

.faq-container {
  @apply max-w-3/4 mx-auto px-6 py-16 grid grid-cols-1 lg:grid-cols-2 gap-12 flex-grow
}

.faq-title h1 {
  @apply text-4xl lg:text-6xl leading-13 mb-12
}

.send-us-card {
  @apply bg-white text-[#241C1C] rounded-lg shadow-md p-6
}

.send-us-card h2 {
  @apply text-3xl mb-2
}

.send-us-card p {
  @apply text-gray-600 mb-14;
  font-family: Helvetica, serif;
}

.send-us-btn {
  @apply inline-block bg-[#A20100] text-xl text-white px-5 py-5 xl:py-8 xl:px-8 rounded-lg hover:bg-red-700 transition
}

.question-container {
  @apply flex flex-col gap-4 mt-8
}

.question-card {
  @apply bg-white text-[#241C1C] rounded-lg shadow-md cursor-pointer py-4
}

.question-card h3 {
  @apply text-xl lg:text-2xl
}

.question-card-answer {
  @apply px-4 pb-4 text-gray-700 text-sm; 
  font-family: Helvetica, serif;
}

.chevron {
  @apply w-6 h-6 transition-transform duration-200
}


/* CART POPUP */

.cart-screen {
  @apply fixed inset-0 z-[1000] flex items-center justify-center bg-black/20 backdrop-blur-sm
}

.cart-container {
  @apply relative bg-white rounded-2xl shadow-2xl w-[90%] max-w-5xl p-10 overflow-y-auto max-h-1/2
}

.cart-container h2 {
  @apply text-lg mb-3
}

.close-btn {
  @apply absolute top-5 right-5 text-gray-500 hover:text-[#A20100]
}

.checkout-title {
  @apply text-7xl text-[#A20100] mb-10;
  font-family: BirdsofParadise, serif;
}

.checkout-content {
  @apply grid grid-cols-1 md:grid-cols-2 gap-8
}

.shipping-details {
  @apply text-sm text-gray-700 mb-6
}

.checkout-btn {
  @apply bg-[#A20100] text-white py-3 rounded-full text-lg hover:bg-[#8b0100] transition-all
}

.success {
  @apply text-green-800 mt-5 items-center justify-center text-center
}

.default {
  @apply text-gray-500 text-sm
}

.payment-list{
  @apply text-[#A20100] 
}

.cart-order {
  @apply flex flex-col
}

.order-card {
  @apply flex items-center mb-6
}

.order-card h3 {
  @apply text-[#A20100] font-bold text-lg mb-2
}

.quantity {
  @apply flex items-center gap-3 text-xl 
}

.price {
  @apply mt-2 text-sm font-semibold
}


/* PROFILE POPUP */

.profile-screen {
  @apply fixed inset-0 bg-black/20 flex justify-center items-center z-50 backdrop-blur-sm
}

.profile-card {
  @apply bg-white w-full max-w-md p-6 rounded-2xl shadow-lg relative 
}

.profile-card h2 {
  @apply text-7xl mb-10 text-[#A20100];
  font-family: BirdsofParadise, serif;
}

.profile-input {
  @apply space-y-4 text-[#241C1C]
}

.profile-input input, select {
  @apply w-full border rounded-lg px-3 py-2 mb-6 font-light
}

.profile-input label {
  @apply font-semibold
}

.profile-btn {
  @apply mt-6 flex justify-end space-x-3
}

.cancel {
  @apply bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400
}

.save {
  @apply bg-[#A20100] text-white px-4 py-2 rounded-lg hover:bg-[#8b0100]
}

/* FOOTER */

footer {
  @apply bg-[#FFB7B7] text-[#241C1C]
}

.footer-section {
  @apply max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8
}

.footer-container {
  @apply flex flex-col md:flex-row justify-between items-center
}

.footer-title {
  @apply mb-4 md:mb-0
}

.footer-title h2 {
  @apply text-xl font-bold text-[#241C1C]
}

.footer-title p {
  @apply text-sm text-[#A20100]
}

.footer-nav {
  @apply flex space-x-6 mb-4 md:mb-0
}

.footer-nav a {
  @apply hover:text-gray-900 text-sm
}

.footer-social {
  @apply flex space-x-4
}

.footer-social a {
  @apply hover:text-gray-900 text-[#241C1C]
}

.copyright {
  @apply mt-8 border-t border-[#241C1C] pt-4 text-center text-sm text-[#241C1C]
}


/* LOGOUT POPUP */

.logout-screen {
  @apply fixed inset-0 bg-black/20 flex justify-center items-center z-50 backdrop-blur-sm
}

.logout-card {
  @apply bg-white w-full max-w-sm p-6 rounded-2xl shadow-lg relative
}

.logout-card h2 {
  @apply text-xl font-bold mb-4
}

.logout-card p {
  @apply mb-6
}

.logout-btn {
  @apply flex justify-end gap-4
}

.logout-close {

}