@import "tailwindcss";
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/Coolvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BirdsOfParadise";
  src: url("/fonts/BirdsofParadise.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaCustom";
  src: url("/fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
}

:root {
  font-family: "Coolvetica", sans-serif;
  color-scheme: light;
  --primary: hsl(0, 100%, 32%);
}


/* REGISTER & LOGIN */

.register-card {
  @apply flex justify-center items-center min-h-screen bg-[#fff7f7] px-6
}

.login-card {
  @apply flex justify-center items-center min-h-screen bg-[#fff7f7] px-6
}

.register-card form {
  @apply bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md
}

.login-card form {
   @apply bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md
}

.register-card h1 {
  @apply text-5xl text-[#A20100] mb-10 text-center;
  font-family: "BirdsOfParadise";
}

.login-card h1 {
  @apply text-5xl text-[#A20100] mb-10 text-center;
  font-family: "BirdsOfParadise";
}

.register-card label {
  @apply block mb-2 
}

.login-card label {
  @apply block mb-2 
}

.register-card input, select {
  @apply w-full border rounded-lg px-3 py-2 mb-6 font-light
}

.login-card input {
  @apply w-full border rounded-lg px-3 py-2 mb-6 font-light
}

.register-card textarea {
  @apply w-full border rounded-lg px-3 py-2 mb-4
}

.register-btn {
  @apply w-full bg-[#A20100] text-white py-3 rounded-full hover:bg-[#8b0100] transition
}

.login-btn {
  @apply w-full bg-[#A20100] text-white py-3 rounded-full hover:bg-[#8b0100] transition
}

.reg-password {
  @apply absolute right-3 top-3 text-gray-500 hover:text-[#A20100]
}

.register-card span {
  @apply text-[#A20100] cursor-pointer hover:underline
}

.login-card span {
  @apply text-[#A20100] cursor-pointer hover:underline
}

.create-acc {
  @apply text-center text-sm mt-4
}

.login-card p {
  @apply text-center text-sm mt-4
}

.error-text {
  @apply text-red-600 mt-0 mb-4 text-center text-sm
}

/* NAVIGATION BAR */

.nav-bar {
  @apply sticky top-0 z-50 py-3 backdrop-blur-lg
}

.nav-container {
  @apply container px-4 mx-auto relative text-sm
}

.nav-logo {
  @apply flex items-center flex-shrink-0
}

.nav-list {
  @apply hidden lg:flex ml-14 space-x-12 list-none text-[#A20100] 
}

.nav-cart {
  @apply hidden lg:flex justify-center space-x-12 items-center
}

.drawer-bg {
  @apply fixed right-0 z-20 backdrop-blur-lg w-full p-12 flex flex-col justify-center items-center lg:hidden
}

.cart {
  @apply py-2 px-3 border rounded-md
}


/* HERO SECTION */

.hero-section {
  @apply relative bg-white overflow-hidden;
}

.hero-content {
  @apply flex flex-col lg:flex-row items-center justify-between px-10 lg:px-20 pb-40 relative z-20;
}

/* Left side (text) */
.hero-text {
  @apply lg:w-1/2 flex flex-col items-start text-[#241C1C];
}

.hero-text h1 {
  @apply font-[Italianno] text-6xl sm:text-7xl lg:text-8xl text-[#A20100];
}

.hero-text h2 {
  @apply text-xl sm:text-2xl lg:text-3xl font-bold text-[#A20100] mt-2;
}

.hero-text p {
  @apply mt-6 sm:mt-8 text-sm sm:text-lg lg:text-xl max-w-xl;
}

.hero-btn {
  @apply mt-8 bg-[#A20100] text-white italic px-8 py-3 rounded-full shadow-[0px_4px_0px_rgba(0,0,0,0.3)] hover:bg-pink-400 transition;
}

/* Right side (image) */
.hero-right {
  @apply lg:w-1/2 flex justify-center mt-10 lg:mt-0 relative;
}

.hero-right img {
  @apply w-full max-w-md lg:max-w-xl object-contain z-10;
}

/* Background drip */
.hero-drip {
  @apply absolute bottom-0 left-0 w-full h-auto z-0;
}


/* ABOUT SECTION */

.about-section {
  @apply relative min-h-[900px] bg-[radial-gradient(circle_at_center,_#FFB7B7_0%,_#A20100_40%,_#A20100_100%)] text-white justify-center
}

.about-tag {
  @apply text-3xl sm:text-5xl lg:text-6xl mt-10 lg:mt-20 lg:mb-10 text-center align-middle;
  font-family: "BirdsOfParadise";
}

.about-container {
  @apply relative flex justify-center items-center 
}

.visual {
  @apply max-h-[600px] lg:max-h-[800px] z-10 align-middle items-center justify-center mt-30
}

.about-container p {
  @apply text-lg leading-tight
}

.about-container span {
  @apply text-7xl
}

.features-card {
  @apply grid grid-cols-2 md:grid-cols-4 gap-8 mt-24 px-10 text-center bottom-0
}

.features {
  @apply flex flex-col items-center
}

.features p {
  @apply text-[14px] text-neutral-200 max-w-[200px]
}

.comment-card-left {
  @apply absolute left-20 
}

.comment-card-right {
  @apply absolute right-20 
}

.comment-card {
  @apply max-w-xs bg-white text-[#241C1C] p-6 rounded-md shadow-md text-end
}

.stars img {
  @apply mt-5 
}

/* MAIN SECTION */

.discover-section {
  @apply min-h-screen bg-white relative overflow-hidden
}

.discover-section img {
  @apply w-full object-cover
}

.discover-container {
  @apply max-w-full mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8 py-12 px-15 items-center
}

.flavor-list {
  @apply flex flex-col gap-4 text-2xl items-center
}

.flavor-list h2 {
  @apply text-[#A20100] text-7xl mb-4;
  font-family: BirdsofParadise, serif;
}

.flavor-list button {
  @apply text-start
}

.flavor {
  @apply flex justify-center relative
}

.add-btn {
  @apply absolute -bottom-8 bg-white rounded-full shadow-md w-12 h-12 flex items-center justify-center z-20 cursor-pointer
}

.details-container {
  @apply flex flex-col gap-6 items-center
}

.details-container h2 {
  @apply text-[#A20100] text-7xl;
  font-family: BirdsofParadise, serif;
}

.details-container p {
  @apply text-[#241C1C] leading-tight text-2xl text-end my-10 ml-10
}

.tag-card {
  @apply relative w-48
}

.tag-content {
  @apply absolute inset-0 flex flex-col items-center justify-center px-4 text-sm
}

.tag-content span {
  @apply text-[#A20100]
}


/* ORIGIN SECTION */

.origin-section {
  @apply min-h-auto bg-white relative overflow-hidden
}

.origin-section img {
  @apply w-full object-cover -bottom-40
}

.origin-container {
  @apply max-w-full mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 py-12 px-40 items-center
}

.origin-info {
  @apply flex flex-col gap-4 text-2xl items-start
}

.origin-info h2 {
  @apply text-[#A20100] text-8xl mb-4;
  font-family: BirdsofParadise, serif;
}

.origin-info button {
  @apply text-start
}

.milk {
  @apply flex justify-center relative
}

.milk-photo {
  @apply absolute -bottom-8 bg-white shadow-md w-100 h-auto flex items-center justify-center z-10
}


/* FAQ SECTION */

.faq-section {
  @apply min-h-1/2 bg-[linear-gradient(to_bottom,_#A20100_0%,_#A20100_20%,_#FFB7B7_100%)] text-white flex flex-col
}

.faq-container {
  @apply max-w-3/4 mx-auto px-6 py-16 grid grid-cols-1 lg:grid-cols-2 gap-12 flex-grow
}

.faq-title h1 {
  @apply text-4xl lg:text-6xl leading-13 mb-12
}

.send-us-card {
  @apply bg-white text-[#241C1C] rounded-lg shadow-md p-6
}

.send-us-card h2 {
  @apply text-3xl mb-2
}

.send-us-card p {
  @apply text-gray-600 mb-14;
  font-family: Helvetica, serif;
}

.send-us-btn {
  @apply inline-block bg-[#A20100] text-xl text-white px-15 py-5 rounded-lg hover:bg-red-700 transition
}

.question-container {
  @apply flex flex-col gap-4 mt-8
}

.question-card {
  @apply bg-white text-[#241C1C] rounded-lg shadow-md cursor-pointer py-4
}

.question-card-answer {
  @apply px-4 pb-4 text-gray-700 text-sm; 
  font-family: Helvetica, serif;
}

.chevron {
  @apply w-6 h-6 transition-transform duration-200
}


/* CART POPUP */

.cart-screen {
  @apply fixed inset-0 z-[1000] flex items-center justify-center bg-black/20 backdrop-blur-sm
}

.cart-container {
  @apply relative bg-white rounded-2xl shadow-2xl w-[90%] max-w-5xl p-10 overflow-y-auto max-h-1/2
}

.cart-container h2 {
  @apply text-lg mb-3
}

.close-btn {
  @apply absolute top-5 right-5 text-gray-500 hover:text-red-600
}

.checkout-title {
  @apply text-7xl text-[#A20100] mb-10;
  font-family: BirdsofParadise, serif;
}

.checkout-content {
  @apply grid grid-cols-1 md:grid-cols-2 gap-8
}

.shipping-details {
  @apply text-sm text-gray-700 mb-6
}

.checkout-btn {
  @apply bg-[#A20100] text-white py-3 rounded-full text-lg hover:bg-[#8b0100] transition-all
}

.success {
  @apply text-green-600 mb-4
}

.default {
  @apply text-gray-500 text-sm
}

.payment-list{
  @apply text-[#A20100] font-semibold
}

.cart-order {
  @apply flex flex-col
}

.order-card {
  @apply flex items-center mb-6
}

.order-card h3 {
  @apply text-[#A20100] font-bold text-lg mb-2
}

.quantity {
  @apply flex items-center gap-3 text-xl
}

.price {
  @apply mt-2 text-sm font-semibold
}


/* PROFILE POPUP */

.profile-screen {
  @apply fixed inset-0 bg-black/20 flex justify-center items-center z-50 backdrop-blur-sm
}

.profile-card {
  @apply bg-white w-full max-w-md p-6 rounded-2xl shadow-lg relative
}

.profile-card h2 {
  @apply text-7xl mb-10 text-[#A20100];
  font-family: BirdsofParadise, serif;
}

.profile-input {
  @apply space-y-4 text-[#241C1C]
}

.profile-input input {
  @apply w-full border rounded px-2 py-1 mt-1 
}

.profile-input label {
  @apply font-semibold
}

.profile-btn {
  @apply mt-6 flex justify-end space-x-3
}

.cancel {
  @apply bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400
}

.save {
  @apply bg-[#A20100] text-white px-4 py-2 rounded-lg hover:bg-[#8b0100]
}

/* FOOTER */

footer {
  @apply bg-[#FFB7B7] text-[#241C1C]
}

.footer-section {
  @apply max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8
}

.footer-container {
  @apply flex flex-col md:flex-row justify-between items-center
}

.footer-title {
  @apply mb-4 md:mb-0
}

.footer-title h2 {
  @apply text-xl font-bold text-[#241C1C]
}

.footer-title p {
  @apply text-sm text-[#A20100]
}

.footer-nav {
  @apply flex space-x-6 mb-4 md:mb-0
}

.footer-nav a {
  @apply hover:text-gray-900 text-sm
}

.footer-social {
  @apply flex space-x-4
}

.footer-social a {
  @apply hover:text-gray-900 text-[#241C1C]
}

.copyright {
  @apply mt-8 border-t border-[#241C1C] pt-4 text-center text-sm text-[#241C1C]
}